form {
float: left;
width: 100%;
}

.entry{
  float: right;
}

.akan1 {
  float:left;
  width: 60%;
  font-style: italic;
}

.akan2 {
  font: italic small-caps bold 48px Georgia, Sans;
  text-shadow: 2px 2px green;
}
